body {
    background-color: #282a36;
}

.calc {
    background-color: #44475a;
    height: auto;
    width: 250px;
    margin: 0 auto;
    align-items: center;
    border-color: #bd93f9;
    border-style: solid;
    border-width: 8px;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 10%;
    padding-top: 0px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.frame {

    margin: 10%;
    margin-bottom: 15px;
}

#output {
    text-align: right;
    padding: 4px;
    background-color: #f8f8f2;
    margin-bottom: 0px;
}

#input {
    text-align: right;
    padding: 4px;
    background-color: #f8f8f2;
    margin-top: 0px;
}

button {
    height: 25%;
    width: 25%;
}